**/ny_taxi_postgres_data*
**/pgadmin
**/database_backup
**/logs
*.csv
*.parquet
*.csv.gz
__pycache__/
.prefectignore
*.odp
week3_sandbox/data/
.vscode/
/week4_sandbox/ny_taxi_rides/seeds/taxi_zone_lookup.csv